<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ITrix'19</title>
    <meta name="Description" content="ITrix, the inter college symposium to perfect which attracts thousands of participants from across the globe. ITrix has every ingredient of a successful symposium with fas- cinating, novel events and thought provoking workshops. Unlike other symposiums which have events designed completely to the te- chies, ITrix strives to distinguish itself by exclusively providing non-technical events in addition to potential technical events.">
    <meta name="Keywords" content="itrix, itrix19, ceg, anna univesity, chennai, technical festival, symposium, sympo, best sympo, tech, techfest, fest, cegfest, anna univ fest, ITfest, InfoTechFest, ItSympo, InfoTechSympo, Workshop,best workshop india, workshop tamilnadu, top workshop tamil nadu, IT workshop, ML workshop, MicroSoft Workshop, Networking workshop, mixed reality workshop, ethical hacking workshop">
    <link rel="shortcut icon" href="../public/fav.ico" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/ham.css" />
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body >
    <div class="header loader" id="try" >
      <div id="menuBtn" class="navbar-header">
        <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
          <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
          <path class="line middle" d="m 30,50 h 40" />
          <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
        </svg>
      </div>
      <div style="padding:20px;">
      </div>
    </div>
    <nav id="myMenu" >
      <div class="navbar-container sidenav " id="mySidenav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-link">
            <a href="../index.html">Home</a>
            <div class="underline "></div>
          </li>
          <li class="nav-link">
            <a href="events.html">Events</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="workshop.html">Workshops</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="#">About us</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link" id="con">
            <a class="contact">Contact</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="sponsor.html">Sponsors</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link dropdown" >
            <a  href="#">Uniq</a>
            <div class="underline"></div>
            <div class="dropdown-content">
                <a target="_blank" href="http://www.inplanttraining.org/"> IPT </a> <br>
                <a target="_blank" href="http://www.internshipinchennai.com/"> Intership </a><br>
                <a target="_blank" href=" http://www.ieeefinalyearprojects.org/"> IEEE Projects </a> <br>
                <a target="_blank" href="http://www.androidtraininginchennai.com/"> Android Training  </a> 
            </div>
          </li>
        </ul>
      </div>
      
    </nav>
    <div class="aboutDiv"  data-spy="scroll" data-target=".aboutNav" data-offset="50">
      <div class="abnav ">
        <div class="aboutLink istalink"><a  class="nav-link active">ISTA</a> </div>
        <div class="aboutLink itrixlink"><a  class="nav-link ">ITRIX</a> </div>
      </div>
      <div class="abt">
        <div class="ISTA abtcont">
          <p >College of Engineering Guindy consistently ranks among the
            top ten colleges of India. Established in the year 1794, CEG has
            inexorable tradition of grooming the brightest minds of the nation

            into smart engineers and executives who can think on their feet. Department of Information Science and Technology is one of the

            youngest and fast growing departments of Anna University. It also
            remains as the dream destination for many aspiring students of the
            state . Information Science and Technology Association(ISTA) is one
            of the most vibrant and active associations of Anna University.
          </p>
        </div>
        <div class="itrix abtcont" >
          <p><strong>ISTA</strong> organizes its flagship event, <strong>ITrix</strong>, the inter college symposium to
            perfect which attracts thousands of participants from across the
            globe. ITrix has every ingredient of a successful symposium with fas-
            cinating, novel events and thought provoking workshops. Unlike
            other symposiums which have events designed completely to the te-
            chies, ITrix strives to distinguish itself by exclusively providing
            non-technical events in addition to potential technical events.
          </p>
        </div>
      </div>
    </div>
    <!--==============================footer=============================-->
    <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Make a Call</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
        <i class="fas fa-mobile-alt"></i> &nbsp	Raj kumar +91 9597484564<br>
        <i class="fas fa-mobile-alt"></i> &nbsp	Bala Sekar +91 9965999159
        </div>
      </div>
    </div>
    <div class="footer loader">
      <div class="icons">  
        <a class="f" href="https://www.facebook.com/itrixceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-facebook"></i></a>
        <a class="f" href="https://instagram.com/itrix_ceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-instagram"></i></a>
        <!--<i class="fas f fa-envelope"></i>-->
        <!--<i class="fab f fa-whatsapp"></i>-->
        <a class="call f" href="#popup1" style="margin-top:-5px;"><i class="fas fa-mobile-alt" data-toggle="tooltip" data-placement="left" title="click me"></i> </a>
        <br>
      </div>		
    </div>
    <script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
    <script src="../public/hello.js"></script>
    <script src="../public/js/index.js"></script>
    <script type="text/javascript">
      $(".itrixlink").click(function() {
        $('.abt').animate({
          scrollTop: $(".itrix").offset().top},
          'slow');
        $(".itrixlink").css("background-color", "#A32A15");
        $(".istalink").css("background-color", "#D5573F");
      });
      $(".itrix").mouseenter(function(){
        $(".itrixlink").css("background-color", "#A32A15");
        $(".istalink").css("background-color", "#D5573F");
      });
      $(".istalink").click(function() {
        $('.abt').animate({
          scrollTop: $(".ISTA").offset().top},
          'slow');
        $(".itrixlink").css("background-color","#D5573F");
        $(".istalink").css("background-color", "#A32A15" );
      });
      $(".ISTA").mouseenter(function(){
        $(".itrixlink").css("background-color","#D5573F");
        $(".istalink").css("background-color", "#A32A15" );
      });
      var btnopa = [0.5,1],bi=1;
      $('#menuBtn').click(
        function(){
          $('.aboutDiv').css({"opacity":btnopa[bi=(bi+1)%2]});},
        );
    </script>
  </body>
</html> 


