<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ITrix'19</title>
    <meta name="Description" content="ITrix, the inter college symposium to perfect which attracts thousands of participants from across the globe. ITrix has every ingredient of a successful symposium with fas- cinating, novel events and thought provoking workshops. Unlike other symposiums which have events designed completely to the te- chies, ITrix strives to distinguish itself by exclusively providing non-technical events in addition to potential technical events.">
    <meta name="Keywords" content="itrix, itrix19, ceg, anna univesity, chennai, technical festival, symposium, sympo, best sympo, tech, techfest, fest, cegfest, anna univ fest, ITfest, InfoTechFest, ItSympo, InfoTechSympo, Workshop,best workshop india, workshop tamilnadu, top workshop tamil nadu, IT workshop, ML workshop, MicroSoft Workshop, Networking workshop, mixed reality workshop, ethical hacking workshop">
    <link rel="shortcut icon" href="../public/fav.ico" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/ham.css" />
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/nontech.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body >
    <div class="header loader" id="try" >
      <div id="menuBtn" class="navbar-header">
        <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
          <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
          <path class="line middle" d="m 30,50 h 40" />
          <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
        </svg>
      </div>
      <div style="padding:20px;">
      </div>
    </div>
    <nav id="myMenu" >
      <div class="navbar-container sidenav " id="mySidenav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-link">
            <a href="../index.html">Home</a>
            <div class="underline "></div>
          </li>
          <li class="nav-link">
            <a href="events.html">Events</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="workshop.html">Workshops</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="about.html">About us</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link" id="con">
            <a class="contact">Contact</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="sponsor.html">Sponsors</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link dropdown" >
            <a  href="#">Uniq</a>
            <div class="underline"></div>
            <div class="dropdown-content">
                <a target="_blank" href="http://www.inplanttraining.org/"> IPT </a> <br>
                <a target="_blank" href="http://www.internshipinchennai.com/"> Intership </a><br>
                <a target="_blank" href=" http://www.ieeefinalyearprojects.org/"> IEEE Projects </a> <br>
                <a target="_blank" href="http://www.androidtraininginchennai.com/"> Android Training  </a> 
            </div>
          </li>
        </ul>
      </div>
      
    </nav>
 
<div class="techcont">
 <div class="techRow check">
  <div class="techimg"><a href="#modal1" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt1.png"></a></div>
  <div class="techimg"><a href="#modal2" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt2.png"></a></div>
  <div class="techimg"><a href="#modal3" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt3.png"></a></div>
 </div>
 <div class="techRow check1">
  <div class="techimg"><a href="#modal4" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt4.png"></a></div>
  <div class="techimg"><a href="#modal5" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt5.png"></a></div>
  <div class="techimg"><a href="#modal6" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt6.png"></a></div>
  <div class="techimg"><a href="#modal7" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt7.png"></a></div>
 </div>
 <div class="techRow check">
  <div class="techimg"><a href="#modal8" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt8.png"></a></div>
  <div class="techimg"><a href="#modal9" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt9.png"></a></div>
  <div class="techimg"><a href="#modal10" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt10.png"></a></div>
 </div>
</div>
<div class="mobtechcont">
 <div>
  <div class="win"><img class="win" src="../public/windowN.png"></div>
</div>
 <div class="mobmobtechRow">
  <div class="techimg"><a href="#modal1" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt1.png"></a></div>
  <div class="techimg"><a href="#modal2" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt2.png"></a></div>
</div>
  <div class="mobmobtechRow">
  <div class="techimg"><a href="#modal3" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt3.png"></a></div>
  <div class="techimg"><a href="#modal4" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt4.png"></a></div>
 </div>
 <div class="mobmobtechRow">
  <div class="techimg"><a href="#modal5" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt5.png"></a></div>
  <div class="techimg"><a href="#modal6" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt6.png"></a></div>
 </div>
  <div class="mobmobtechRow">
  <div class="techimg"><a href="#modal7" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt7.png"></a></div>
  <div class="techimg"><a href="#modal8" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt8.png"></a></div>
 </div>
 <div class="mobmobtechRow">
  <div class="techimg"><a href="#modal9" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt9.png"></a></div>
  <div class="techimg"><a href="#modal10" class="Techpic" ><img class="Techpic" src="../public/NonTechFrames/nt10.png"></a></div>
 </div>
</div>

<div class="modal" id="modal1">
  <div class="modal-container " >
	  <div class="modal-header">INQUIZITIVE</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
        <p>Quizzess are really addictive right? Are you a Quiz bee who answer all general quiz we provide or you are dare enough to accept our Quiz in this event. We are welcoming all the Quizpunks out there. Come here, test your skill and win exciting prizes.</p>
<br><br><p style="color:#FE532E">ROUND 1: QRIOSITY(A general quiz)</p>
<ul>
<li>Pen and paper round to answer 20 questions.</li>
<li>Teams will be given 60 seconds for each question.</li>
</ul>
<br><br>DURATION: 20 minutes
<br><br><p style="color:#FE532E">ROUND 2: FAST & FURIOUS( Rapid Fire Questions)</p>
<ul>
<li>Top 10 teams from round 1 will be chosen for this round.</li>
<li>Each team will be given 2 minutes, questions will be asked to each team.</li>
 <li>Maximum number of questions answered by a team causes the team to be ranked higher.</li>
</ul>
<br><br>DURATION: 40 minutes
<br><br><p style="color:#FE532E">ROUND 3: FINALS</p>
<ul>
<li>Top 5 teams from round 2 will be shortlisted.</li>
<li>5 Questions will be asked.</li>
</ul>
<br><br>DURATION: 45 minutes
<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Ajitaa    9445182509
<br><br>Heera    7550344668
<br><br>Sshreya    8903559120
<br><br>Harini Sri Reka    9940062474
      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal2">
  <div class="modal-container " >
	  <div class="modal-header">INNOVATE</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
<p>Without change there is no innovation, creativity, or incentive for improvement. Those who initiate change will have a better opportunity to manage the change that is inevitable. This event helps you realize how and why constraints can make you more creative. Waiting for an opportunity to explore the whole of ceg?? Then you are at the right place :)  </p>
<br><br><p style="color:#FE532E">FORMAT</P>
<br><br>Prelims :
<p>This round brings out the creative skills in you where you will end up with a new story of your own from limited pictures.</p>
<br><br>DURATION: 45 minutes
<br><br><p style="color:#FE532E">Finals :</P>
<p>In final round each team will be given a resource material and allowed to discuss for a time span of 45 mins. They have to come up with a theme from the contents they find in the resource and will be allowed to present their findings and ideas for 5 to 7 minutes. The best ideas will be awarded prizes.</p>
<br><br>DURATION: 60 minutes
<br><br><p style="color:#FE532E">RULES</p>
<ul>
<li>A team can have maximum of three members.</li>
<li>The team members need not necessarily be from same institution/college.</li>
<li>A participant cannot be a member of more than one team.</li>
<li>The participants are not allowed to bring any additional material.</li>
<li>Teams involved in any kind of malpractice will be disqualified
immediately.</li>
<li>Decisions made by organizers will be final.</li>
</ul>
<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Amrutha    8122877430
<br><br>Keerthana    9094946988
<br><br>Mithra      9841858166
<br><br>Madhu    9789806115

      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal3">
  <div class="modal-container " >
	  <div class="modal-header">AR QUEST</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
      Coming Soon...
      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal4">
  <div class="modal-container " >
	  <div class="modal-header">MASTER OF DESIGN</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
     <p>When creativity is made visible, it is a design. Get ready to trigger your brain to shoot out it's creative ideas at Redesign. It is a designing event where creativity plays the major role. Guys get ready to kindle your creativity in ITRIX at the redesign event. Come illustrate your ideas and Photoshop your creativity to show the world the designer in you.</p>

<br><br><p style="color:#FE532E">First round:</P>
<ul>
<li>A set of questions</li>
<li>15 mins of Internet usage</li>
</ul>
<br><br>DURATION: 60 minutes
<br><br>Final Round:
<ul>
<li>Design to be developed by topic given</li>
<li>20mins of Internet usage</li>
</ul>

<br><br>DURATION: 60 minutes


<br><br><p style="color:#FE532E">Rules</p>
<ul>
<li>Individual Participation.</li>
<li>Organisers decision will be final.</li>
</ul>
<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Praburaj    7358682274
<br><br>Aishwarya    9940581791
<br><br>Raaghavi    7397407258

      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal5">
  <div class="modal-container " >
	  <div class="modal-header">BATTLE GROUNDS</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
<p>Are you a person who loves to unravel mysteries and get to the bottom of riddles and conundrums? Then you should definitely be a part of the supercool BattleGrounds! You will be given various images and clues from which mind boggling questions will be asked. Solve all of them and become the king/queen of mysteries!</p>

<br><br><p style="color:#FE532E">CONTACT:</P>
<br><br>Udaya RK    9600843076


      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal6">
  <div class="modal-container " >
	  <div class="modal-header">GAME OF WORDS</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
   <p>Hey there! Are you a stern grammar nazi who absolutely cannot tolerate grammatical follies, or a dreamy bookworm always engrossed in a book, or a series freak who binge-watches TV series? Then GAME OF WORDS is just the perfect event for you! It brings together questions testing your linguistic skills and vocabulary as well as includes questions related to novels and TV series. We guarantee you two rounds of complete fun and endless laughter! Do show up!</p>
 
<br><br><p style="color:#FE532E">RULES AND REGULATIONS:</p>
 
<ul>
<li>Maximum 2 per team.</li>
<li>The team members need not necessarily be from same institution/college.</li>
<li>A participant cannot be a member of more than one team.</li>
</ul>
<br><br><p style="color:#FE532E">ROUNDS:</p>
<br><br><p style="color:#FE532E">First Round:</p> 
<p>The first round has a potpourri of questions – vocabulary, series quiz, book quiz, etc. There will be a time limit, around 30 minutes.</p>
<br><br><p style="color:#FE532E">Second Round:</p> 
<p>It is a one-one round where each person is given a character from history or a book or a movie. Then a specific topic is given, about which the person has to portray his/her views (pros and cons) from the point of view of the character. Time limit will be 2 to 3 minutes. The winners will be selected based on cumulative scores</p>
<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Aishwarya Devi    9566847348
<br><br>Poorna    8939918340
<br><br>Poorani    7358313329
<br><br>Ranjini    9176994881

      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal7">
  <div class="modal-container " >
	  <div class="modal-header">LIKE YOU</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
<p>This is a competition for all the budding photographers out there! The participants are given unique topics about which they need to capture pictures. Based on the photography skill, relevance to the topics and popularity in social media, winners will be selected. As the saying goes - a picture is worth a thousand words - your photos should speak for themselves! Find below the topics, scoring and rules to participate. Submit your entries at eventsitrix@gmail.com on or before Jan 17th 2019 and grab chance to win cash prizes worth 5K. </p>
<br><br><p style="color:#FE532E">TOPICS </p>
<ul>
    <li>Craftsmanship</li>
    <li>Home Town Pride</li>
    <li>IT Innovation</li>
    <li>Celebrations</li>
</ul>
<br><br><p style="color:#FE532E">RULES </p>
<ol>
    <li>All entries must be mailed to eventsitrix@gmail.com containing </li>
     <ul>
         <li>your photo and your details</li>
         <li>Name</li>
         <li>College name</li>
         <li>Dept Name</li>
         <li>Year</li>
         <li>Contact number</li>
         <li>Topic of your photo among the above.</li>    
     </ul>
     
     <li>The entries must be sent on or before Jan 17th 2019</li>
     <li>The Photo shouldn’t contain any watermarks or vulgar entities</li>
     <li>The photo must be based on any one of the four topics mentioned above</li>
     <li>Any plagiarism will lead to disqualification</li>
     <li>All the entries will be reviewed and accepted entries will be posted on our facebook and instagram page, participants will receive a mail containing the respective links to their submissions
Organisers decision is final</li>
</ol>

<br><br><p style="color:#FE532E">SCORING </p>
<br><br>Scores for the participants will be based on the 'likes', ‘shares’ and the 'creativity' of the post. 
<br><br>Calculation for likes (facebook + instagram): 
<br><br>A=(Your photo likes/highest liked photo)*30
<br><br>B=(Your photo shares/highest shared photo)*30
<br><br>C= Scores provided by panel out of 40
<br><br>Final score =A+B+C
<br><br>Top three will be awarded prizes on Itrix-19.

<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Udaya RK    9600843076

      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal8">
  <div class="modal-container " >
	  <div class="modal-header">Conundrum</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
<p>Never ever underestimate the importance of having fun. We realize that you need fun and here we are with fun games for you to play, enjoy, cherish and win prizes as well. Get ready and be there at Conundrum to experience full dose of fun and entertainment.</p>
<br><br><p style="color:#FE532E">ROUND-1(Mindboggler)</p>
<br><br><p style="color:#FE532E">Instructions:</p>
<ul>
<li>Two members per team.</li>
<li>Both the members will be given as a whole of 5 minutes.</li>
<li>Number of tasks will be aligned on the desk with the requirements.</li>
<li>Team members should perform the task individually.</li>
<li>Number of tasks completed will be considered.</li>
<li>Those who have completed more number of tasks will be summoned for second round.</li>
</ul>
<br><br>DURATION: 5 minutes
<br><br><p style="color:#FE532E">ROUND-2(Treasure Hunt)</p>
<br><br><p style="color:#FE532E">Instructions:</p>
<ul>  
<li>Participants would get a clue once they have completed the task assigned to them.</li>
<li>They are asked to find out the remaining clues using the previous clues.</li>
<li>The team which finds the final clue will be selected for final round.</li>
</ul>
<br><br>DURATION: 60 minutes
<br><br><p style="color:#FE532E">ROUND-3(Crime Investigation)</p>
<br><br><p style="color:#FE532E">Instructions:</p>
</ul>  
<li>The crime story will be described on paper</li>
<li>Each team take turns into crime scene</li>
<li>They will have to analyze the crime scene and come with solution within time limit.</li>
</ul>

<br><br>DURATION: 10 minutes



<br><br><p style="color:#FE532E">RULES:</p>
<ul>
<li>Lone wolves are allowed</li>
<li>Team can consists of Maximum 3 members</li>
<li>The team members need not necessarily be from same institution/college.</li>
<li>A participant cannot be a member of more than one team.</li>
<li>Organisers decision is final</li>
</ul>
<br><br><p style="color:#FE532E">CONTACT:</p>
<br><br>Yuvaraj    8870527722
<br><br>Sharmila    8220226803
<br><br>Geetha    9094277388
<br><br>Mythili    8870447683

      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal9">
  <div class="modal-container " >
	  <div class="modal-header">TIK TOK</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
<br><p style="color:#FE532E">DESCRIPTION</p><br>
		 <p>&quot;Humor is just another defense against the universe&quot;</p>
		 <br><br>
		 <p>

Humor is the fragrance of life as it gives us energy and inspiration to
take life lightly and play the game of life with positive energy. Are
you. the person who always has fun with your Tik Tok videos, then
this event TIK TOK from our ITRIX-19 gives you an extraordinary
opportunity to showcase your talent with our specified topics. You
can also earn exciting cash prizes and rewards with your videos.
Submit your videos to eventsitrix@gmail.com and get ready to
dazzle with your performance.</p>
<br><br><p style="color:#FE532E">TOPICS </p>
<ul>
<li> Movie dialogues ( Motivational dialogues, Social messages )</li>
<li> Laughing challenge</li> 
<li> Water reflection challenge</li>
<li> Whistle challenge</li>
<li> Reverse challenge</li>
<li> Natpe thunai challenge</li> 
<li> Kiki challenge</li>
<li> Bottle flip challenge</li>
<li> What the fluff challenge</li>
<li> Fortnite challenge</li>
</ul>

<br><br><p style="color:#FE532E">SCORING </p>
<br><br>Scores for the participants will be based on the 'likes', ‘shares’ and the 'creativity' of the video. 
<br><br>Calculation for likes (facebook + instagram): 
<br><br>A=(Your video likes/highest liked video)*30
<br><br>B=(Your video shares/highest shared video)*30
<br><br>C= Scores provided by panel out of 40
<br><br>Final score =A+B+C
<p style="color:#FE532E">Rules:</p>
      <ol>
          <li>All entries must be mailed to <strong>eventsitrix@gmail.com </strong>containing
            <ol type="a">
                <li>Your video and your details</li>
                <li>Name</li>
                <li>College name</li>
                <li>Dept Name</li>
                <li>Year</li>
                <li>Contact number</li>
                <li>Topic of your video among the above.</li>
            </ol>
          </li>
          <li>The entries must be sent on or before Jan 20th 2019</li>
          <li>The video must be based on any one of the ten topics mentioned above</li>
          <li>Should not be abusive.</li>
          <li>Should not contain explicit content.</li>
          <li>Should not be entirely dancing.</li>
          <li>Only for college students.</li>
          <li>All the entries will be reviewed and accepted entries will be posted on our facebook and instagram page, participants will receive a mail containing the respective links to their submissions</li>
          <li>Organisers decision is final</li>
      </ol>
      
      
<p style="color:#FE532E">CONTACT:</p>
<br>Ajitaa  94451 82509
<br>Kaliappan    70922 27011
      </div>
    </div>
    </div>
</div>
<div class="modal" id="modal10">
  <div class="modal-container " >
	  <div class="modal-header">Math-O-Mania</div>
     <a href="#" class="close">x</a>
	   <div class="scrollbar"  id="body-scroll">
		    <div class="modal-body">
    <p>If you love the numbers and the numbers love you back, no doubt you are the one whom Math's approaches to solve it's problems. Math-o-Mania is the event for next level thinkers. Are you the one? Math-o-Mania also needs you...Problems are waiting to be solved and you need to be there to help them..</p>
<center>"Come participate in Math-O-Mania and we will be proved right!"</center>

<br><br><p style="color:#FE532E">Prelims: </p>
<p>Prelims tests the basic concepts of Maths + Quantitative questions and it contains MCQ. </p>
<br><br>DURATION: 30 minutes
<br><br><p style="color:#FE532E">Finals: </p>
<p>Finals will be on mathematical, analytical and logical reasoning puzzles.</p> 

<br><br>DURATION: 60 minutes


<br><br><p style="color:#FE532E">Rules</p>
<ul>
<li>Maximum of two members per team.</li>
<li>Lone wolf is welcome.</li>
<li>Teams involved in any kind of malpractice will be disqualified immediately.</li>
<li>Prelims will be conducted for half an hour.</li>
<li>Decisions made by organizers will be final.</li>
</ul>
<br><br><p style="color:#FE532E">CONTACT: </p>
<br><br>Areefkhan    9943967713
<br><br>Nandha Kumar    8870185355
      </div>
    </div>
    </div>
</div>


<!--==============================footer=============================-->
<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Make a Call</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
    <i class="fas fa-mobile-alt"></i> &nbsp	Raj kumar +91 9597484564<br>
    <i class="fas fa-mobile-alt"></i> &nbsp	Bala Sekar +91 9965999159
    </div>
  </div>
</div>
<div class="footer loader">
  <div class="icons">  
    <a class="f" href="https://www.facebook.com/itrixceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-facebook"></i></a>
    <a class="f" href="https://instagram.com/itrix_ceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-instagram"></i></a>
    <a class="call f" href="#popup1" style="margin-top:-5px;"><i class="fas fa-mobile-alt" data-toggle="tooltip" data-placement="left" title="click me"></i> </a>
    <br>
  </div>		
</div>
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script src="../public/hello.js"></script>
<script src="../public/js/index.js"></script>
</body>
</html> 