<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ITrix'19</title>
    <meta name="Description" content="ITrix, the inter college symposium to perfect which attracts thousands of participants from across the globe. ITrix has every ingredient of a successful symposium with fas- cinating, novel events and thought provoking workshops. Unlike other symposiums which have events designed completely to the te- chies, ITrix strives to distinguish itself by exclusively providing non-technical events in addition to potential technical events.">
    <meta name="Keywords" content="itrix, itrix19, ceg, anna univesity, chennai, technical festival, symposium, sympo, best sympo, tech, techfest, fest, cegfest, anna univ fest, ITfest, InfoTechFest, ItSympo, InfoTechSympo, Workshop,best workshop india, workshop tamilnadu, top workshop tamil nadu, IT workshop, ML workshop, MicroSoft Workshop, Networking workshop, mixed reality workshop, ethical hacking workshop">
    <link rel="shortcut icon" href="../public/fav.ico" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/ham.css" />
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/techevents.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body >
    <div class="header loader" id="try" >
      <div id="menuBtn" class="navbar-header">
        <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
          <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
          <path class="line middle" d="m 30,50 h 40" />
          <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
        </svg>
      </div>
      <div style="padding:20px;">
      </div>
    </div>
    <nav id="myMenu" >
      <div class="navbar-container sidenav " id="mySidenav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-link">
            <a href="../index.html">Home</a>
            <div class="underline "></div>
          </li>
          <li class="nav-link">
            <a href="events.html">Events</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="workshop.html">Workshops</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="about.html">About us</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link" id="con">
            <a class="contact">Contact</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link">
            <a href="sponsor.html">Sponsors</a>
            <div class="underline"></div>
          </li>
          <li class="nav-link dropdown" >
            <a  href="#">Uniq</a>
            <div class="underline"></div>
            <div class="dropdown-content">
                <a target="_blank" href="http://www.inplanttraining.org/"> IPT </a> <br>
                <a target="_blank" href="http://www.internshipinchennai.com/"> Intership </a><br>
                <a target="_blank" href=" http://www.ieeefinalyearprojects.org/"> IEEE Projects </a> <br>
                <a target="_blank" href="http://www.androidtraininginchennai.com/"> Android Training  </a> 
            </div>
          </li>
        </ul>
      </div>
      
    </nav>
  <div class="techcont">
  <div class="techRow check">
    <div class="techimg"><a href="#modal1" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t1.png"></a></div>
    <div class="techimg"><a href="#modal2" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t2.png"></a></div>
    <div class="techimg"><a href="#modal3" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t3.png"></a></div>
    <div class="techimg"><a href="#modal4" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t4.png"></a></div>
  </div>
  <div class="techRow check1">
    <div class="techimg"><a href="#modal5" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t5.png"></a></div>
    <div class="techimg"><a href="#modal6" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t6.png"></a></div>
    <div class="techimg"><a href="#modal7" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t7.png"></a></div>
    <div class="techimg"><a href="#modal12" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t12.png"></a></div>
  </div>
  <div class="techRow check">
    <div class="techimg"><a href="#modal8" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t8.png"></a></div>
    <div class="techimg"><a href="#modal9" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t9.png"></a></div>
    <div class="techimg"><a href="#modal10" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t10.png"></a></div>
    <div class="techimg"><a href="#modal11" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t11.png"></a></div>
  </div>
  </div>
  <div class="mobtechcont">
  <div>
    <div class="win"><img class="win" src="../public/window.png"></div>
  </div>
  <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal1" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t1.png"></a></div>
    <div class="techimg"><a href="#modal2" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t2.png"></a></div>
  </div>
    <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal3" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t3.png"></a></div>
    <div class="techimg"><a href="#modal4" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t4.png"></a></div>
  </div>
  <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal5" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t5.png"></a></div>
    <div class="techimg"><a href="#modal6" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t6.png"></a></div>
  </div>
    <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal7" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t7.png"></a></div>
    <div class="techimg"><a href="#modal8" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t8.png"></a></div>
  </div>
  <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal9" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t9.png"></a></div>
    <div class="techimg"><a href="#modal10" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t10.png"></a></div>
  </div>
  <div class="mobmobtechRow">
    <div class="techimg"><a href="#modal11" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t11.png"></a></div>
    <div class="techimg"><a href="#modal12" class="Techpic" ><img class="Techpic" src="../public/TechFrames/t12.png"></a></div> 
  </div>
  </div>

  <div class="modal" id="modal1">
    <div class="modal-container " >
      <div class="modal-header">WEBTRIX</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
      <p>Can you create wonders using tags and attributes?  It takes great skills to design and build a website. Design in the front end and play tricks at the backend, here at Webtrix.  Come test your web development skills and witness them getting rewarded.
  </p>
  <br>
  <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="https://www.tesark.com/" target="_blank"><img class="log" src="../public/p1.png" ></a>&nbsp; &nbsp;<a href="https://ongil.io/" target="_blank"><img style="background-color:black; height:70px" class="log" src="../public/p5.png" ></a></div> </center>
        <br><br><p style="color:#FE532E">Instructions for Round 1 </p>
        
        <ul>
          <li>It is an individual participation and time limit is 60 minutes. </li>
          <li> Participants should use available libraries only. </li>
          <li>All necessary images, icons and cheatsheets for bootstrap will be provided in each system. </li>
          <li> Internet facility will not be provided for the participants for this round.</li>
          <li> Violation of any of the above rule will lead to immediate disqualification of the participants. </li>
          <li>Round 1 consists of 3 questions like developing the given javascript application, a simple form validation and to replicate the given UI design.</li>
          <li>Organizers decisions are final.</li>
        </ul>
        <br><br>DURATION: 60 minutes
        <br><br><p style="color:#FE532E">Instructions for Round 2</p>
        <br><br>
            <ul>
                <li> Time limit is 90 minutes.</li>
                <li>Internet facility will be provided. 
  </li>
                <li>The participants can make use of any sort of resources.</li>
                <li>Top 3 will be announced as winners.</li>
                <li>Round 2 consists of a single question like developing a full-stack application satisfying the given constraints. </li>
                <li>Judging and Scoring criteria 
                  <ul>
                    <li>Functionality: 40</li>
                    <li>Aesthetics: 25 </li>
                    <li>Innovation: 15 </li>
                    <li>Code structure: 20</li>
                  </ul>
                </li>
              </ul>
              <br><br>DURATION: 90
                <p>DATE : JAN-25</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(2ND FLOOR)</P>
              
              <br><br>CONTACT:
              <br><br>Prasadh    9976548249
              <br><br>Manisha    9840866583
              <br><br>Janani    8220466760
              <br>
            </ul>        
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal2">
    <div class="modal-container " >
      <div class="modal-header">SOURCE CODE</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
            <p>Life is easier if you have the source code.We are here to make your life easy. Put your skills to test, because a source code is waiting for you to be analysed, to be mended and to reveal the hidden answer that you've been waiting for. It will be similar to treasure hunt but here the treasure (answer) is hidden inside the source codes of the given files. Let's see if it obeys you and satisfies your intentions at SOURCE CODE.</p>
                              <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="https://expanion.com/" target="_blank"><img style="width:170px;height:100px" src="../public/p4.png" ></a></div> </center>
            <br><br>Format:
            <br><br><p style="color:#FE532E">Round 1:</p>
            <br><br>
            <p>Pen and Paper round consisting of multiple choice questions from basics of web development, Debugging, cryptography and simple programs.</p>
            <br><br>DURATION: 45 minutes
            <br><br><p style="color:#FE532E">Round 2:</p>
            <br><br>
            <p>Let the suspense explode at the grand finale of `source code`.</p>
  <br><br>DURATION: 60 minutes

  <br><br><p style="color:#FE532E">Rules: </p>
    <ul> 
      <li>Maximum 2 members per team</li>
      <li> Decisions made by the organizers will be final</li>
      <li>The team members need not necessarily be from same institution/college.</li>
      <li>A participant cannot be a member of more than one team.</li>
  
  <li>Any kind of malpractices will get your team disqualified</li>
  </ul>
  <p>DATE : JAN-25</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(3RD FLOOR)</P>

  <br><br> CONTACT:<br><br>Saravanaganesh    9791831304
  <br><br>Areefkhan    9943967713
      
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal3">
    <div class="modal-container " >
      <div class="modal-header">SEQUELIZE</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
        
  
  <p>Are you one of those people who can query your ideas and retrieve what you need from a database? Then this is the chance for you to execute your query at  Sequelize. Create new ideas, update your skills, drop your fear and come participate in Sequelize to win exciting prizes.</p>
                    <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="https://www.alphacloudlabs.com/" target="_blank"><img class="log" src="../public/p3.png" ></a></div> </center>
  <br><br><p style="color:#FE532E">ROUND 1 </p>
  <br><br>
    <p>This is an online round and will be conducted in any of the coding platform.</P>
  <br><br>TYPE OF QUESTIONS
  <ul>
  <li>MCQs related to database and queries.</li>
  <li>Given the table format and constraints to fetch the records write SQL queries.</li>
  </ul>
  <br><br>DURATION: 30 mins
  <br><br><p style="color:#FE532E">ROUND 2</p>
  <br><br>
    <p>It is an online round of 60 minutes hosted in any coding platform. In this round the candidates are required to write SQL queries that extract, combine, and manipulate data. The complexity of queries asked in this round will be higher compared to the previous.</p>
  <br><br>DURATION: 60 mins
  <br><br><p style="color:#FE532E">RULES:</p>
  <ul>
  <li>Participants can either participate as a team of two or individually.</li>
  <li>Teams involved in any kind of malpractice will be immediately disqualified.</li>
  <li>A participant cannot be a member of more than one team.</li>
  <li>Participants should not use mobile phones or any material for reference.</li>
  <li>Organizer’s decision is final.</li>
  </ul>
  
  <p>DATE : JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(3RD FLOOR)</P>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>
  Dhivya Harini    9566422948
  <br><br>
  Monisha        8754207274
  <br><br>
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal4">
    <div class="modal-container " >
      <div class="modal-header">REAR DIGEST</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
  <p>To All the Cyberpunk out there who to love to solve the problems of life in a bottom up manner? Here is an opportunity to quickly tackle the problems in the reverse way. Get ready to code in a reverse fashion and solve as many problems as you can..!!!</p>
                        <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="https://www.alphacloudlabs.com/" target="_blank"><img class="log" src="../public/p3.png" ></a></div> </center>
      <br><br><center>"Tune your Brains to Backtrack" </center>
      <br><p style="color:#FE532E">RULES</P>
      <ul>
        <li>Maximum 3 per team</li>
        <li>Decisions made by organisers will be final.</li>
      </ul>
      <br>PRELIMS
        <ul>
          <li>Written test on cryptography, data structures and algorithms.</li>
          <li>Duration : 45 mins.</li>
          
        </ul>
        <br><p style="color:#FE532E">FINALS</P>
        <ul>
          <li>Online Round.</li>
          <li>With Inputs and Outputs given identify the logic and code the program.</li>
          <li> Duration : 1 hr.</li>
        </ul>
        <p>DATE : JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(2ND FLOOR)</P>
        <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>Kaliappan    7092227011
  <br><br>Udaya RK    9600843076
  <br>
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal5">
    <div class="modal-container " >
      <div class="modal-header">OSPC</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
  <p>
  <span style="line-height:1; font-weight:100">Onsite Programming Contest is a programming contest which focuses on programming logic , Data structures and algorithms. Top teams from first round will be selected for the second round which will be an online contest .So get ready to stir your programming skills.</span>
  <p style="color:#FE532E">PLACEMENT IN </p>
  <center> <div>&nbsp;<a href="https://www.niagaranetworks.com/" target="_blank"><img style=" height:70px" class="log" src="../public/p6.png" ></a></div> </center>
  <BR>
  <p style="color:#FE532E">INTERNSHIP IN </p>
  <center> <div><a href="https://ongil.io/" target="_blank"><img style="background-color:black; height:70px" class="log" src="../public/p5.png" ></a> &nbsp; </div> </center>
    
  <br><br><center>"Just Code To Be On Board"</center>
  <br><br><span style="font-weight:900; color:#FE532E">ROUNDS</span>
  <br><br><span style="font-weight:900">Prelim:</span>
  <br><br>
    This round is a pen and paper round where 25 questions consisting of code snippets, technical MCQ’s and data structure coding problems will be asked.
  <br><br>Final: 
  <br><br>This round will be conducted in hackerrank and it consists of competitive coding problems similar to ACM ICPC style of coding.
  <br><br>
  <br><br>DURATION:
  <br><br>ROUND 1:45 MINUTES
  <br>ROUND 2:75 MINUTES
  
  <div>
  <span style="font-weight:bold; color:#FE532E">RULES</span>
  <p><ul>
  <li> A team can have maximum of two members.</li> 
  <li> Lone wolves are also welcomed. </li>
  <li> The team members need not necessarily be from same institution/college. </li>
  <li> participant cannot be a member of more than one team. </li>
  <li> The participants are not allowed to bring any additional material.</li> 
  <li> Teams involved in any kind of malpractice will be disqualified immediately. </li>
  <li> Decisions made by organizers will be final. </li>
  </ul></p></div>
  <p>DATE : JAN-25</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-S3(2ND FLOOR)</P>
  <br><br><p style="color:#FE532E">CONTACT:  </p>
  <br><br>Prasathth:7598567572 
  <br><br>Saravana Vignesh:8939738241
  <br><br>
  
  </p>
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal6">
    <div class="modal-container " >
      <div class="modal-header">HAWK EYE</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
        <p>Are you one of those clever people who can decipher everything ? Do you observe and dont just see? Well, come test your  cryptography skills at Hawk's eye where you would solve problems, decrypt the encrypted, decode the encoded and reveal the secrets. And the best part is you'll be awarded with exciting prizes.</p>
                          <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div><a href="http://admatic.co/" target="_blank"> <img class="log" src="../public/p2.png" ></a></div> </center>
  <br><br><p style="color:#FE532E">Round 1:</p>
  <p>Be ready to solve mcq's(20 qns) on cryptography,networks and algorithmics.</p>
  <br><br>DURATION: 25 minutes
  <br><br><p style="color:#FE532E">Round 2: </p>
  <p>Involves coding and problems which is to be solved using cryptographic algorithms.</p>
  <br><br>DURATION: 120 minutes
  <br><br><p style="color:#FE532E">Rules:</p>
  <ul>
  <li>An individual or team of two can participate.</li>
  <li>The team members need not necessarily be from same institution/college.</li>
  <li>A participant cannot be a member of more than one team.</li>
  <li>No internet connection will be provided.</li>
  <li>Participants have to make use of available libraries only.</li>
  <li>Organizers decisions are final.</li>
  </ul>
  <p>DATE : JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(2ND FLOOR)</P>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>
  Surya:7358474822
  <br><br>Nivethika:9659445188
  <br><br>Saravanan:8148871477
  <br>
        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal7">
    <div class="modal-container " >
      <div class="modal-header">DECRYPT</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
        <p>Can you convey a word to your team partner with only mere gestures and one word clues? Then this is the right event for you. Come and showcase your talent in exchange for cash. This is a duo event which consists of two rounds of increasing difficulty and exciting cash prizes for the winners who decrypts maximum number of words in a short span of time.</p>
                    <center>"Team up to start the Adventure"</center>
                    <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="http://admatic.co/" target="_blank"><img class="log" src="../public/p2.png" ></a></div> </center>
        <br><br><p style="color:#FE532E">Instructions for Round 1 </p>

                    
                    
  <br><br><p><span style="color:#FE532E">ROUND 1</span>: Decrypt - The Beginning</p>
  <ul>
  <li>Each Team will be provided with 10 words in a paper to decrypt in which one person has to give clues and the other person should decrypt the original word using the clues.</li>
  <li>The clues should be of one word and should be in English.
  <li>Maximum of only 3 clues should be provided by the team mate and likewise only a maximum of 3 guesses should be made by the other team mate.</li>
  <li>The words provided to the teams will be related with Computer Science domain in some way.</li>
  <li>Each team can take a maximum of 120 seconds to decrypt all the 10 words.</li>
  </ul>
  <br><br>DURATION: 2 mins
  <br><br><p><span style="color:#FE532E">ROUND 2</span>: Decrypt – The Conclusion</p>
  <ul>
  <li>This Final Round consist of two sub-rounds in which the first sub-round is similar to Round 1 but now there will be only 5 words to decrypt in 120 seconds and the words will be of increased difficulty.</li>
  <li>The second sub-round will be in the flavor of Dumb Charades where each team will be given 5 words to decrypt in 2 minutes but now the clues should be given only with mere gestures. Standard Dumb Charades rules apply.</li>
  <li>The Top 3 winners will be finalized based on the number of words decrypted and the total time taken to decrypt in the final round.</li></ul>
  <br><br>DURATION: 4 mins

  <br><br><p style="color:#FE532E">Rules :</p>
  <ul>
  <li> Two members in a team.</li>
  <li> 1 mark will be awarded for each correct answer in Round 1 and sub-round 1 in Round 2. </li>
  <li>Top 5 teams from round 1 will be chosen for this final round. The selection process will be based on the number of words decrypted and the total time taken to decrypt.</li>
  </ul>
  <p>DATE : JAN-25</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-F4(1ST FLOOR)</P>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>Ambareesh:9791141626
  <br><br>Poorna:8939918340

        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal8">
    <div class="modal-container " >
      <div class="modal-header">OLPC</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
          <p>A skill should be tested from time to time to maintain the consistency in your talent. That too for a programmer or coder out there should be tested to develop your skills even more better. This event gives you the very most challenging test where your brains need to be gear up for action. It is an online programming contest where your trails include programming challenges.</p>
                    <center>“To iterate is human, to re-curse divine.”</center>
  <br><br><p style="color:#FE532E">Format</p>
  <p>This event is an online coding contest held in hackerrank. This contest will be conducted similar to ACM ICPC style of coding where six competitive programming questions have to be solved.</p>
  <br><br>DURATION: 3 hours

  <br><br><p style="color:#FE532E">Rules </P>
  <ul>
  <li>Participants must have hackerrank handle.</li>
  <li>Scoring points will be based on solving the number of testcases of a question.</li>
  <li>Any kind of plagiarism is strictly prohibited.</li>
  <li>In case of tie, submission time will be considered in leaderboard.</li>
  <li>Organizers decision will be final. </li>
  </UL>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>Saravanaganesh:9791831304

        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal9">
    <div class="modal-container " >
      <div class="modal-header">BEAT THE BUG</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
  <p>Debugging is twice as hard as writing the code in the first place. Therefore, if you write the code as cleverly as possible, you are, by definition, not smart enough to debug it. This event is intended to check the identifying the error and debugging skills of the participants .The participants have to debug the code to get the correct output.</p>
          <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="https://expanion.com/" target="_blank"><img style="width:170px;height:100px" src="../public/p4.png" ></a></div> </center>
            <center>"Controlling complexity is the essence of computer programming"</center>
  <br><br>

  <p style="color:#FE532E">Round 1</P>
  <ul><li>50 Questions- Easy, Medium, Hard
  Questions from all basic languages C,C++,JAVA
  Identify the error, optimising the code, code minimisation were also expected.
  </li>
  </ul>
  <br><br>
  DURATION: 45 minutes<br><br>
  <p style="color:#FE532E">Round 2:</p>
        
          <ul>
            <li>Participants will be asked to write code for three questions.</li>
            <li>Solving one problem will lead to the solution of other problem, i.e, the solutions of the problem are interconnected with each other for the two difficult problems.</li></ul>
  <br><br>
  DURATION: 90 minutes
  <br><br>
  <p style="color:#FE532E">Rules:</p
  <br><br>
  <ul>
  <li> Lone wolves or a team of two is allowed.</li>
  <li>This round consists of 50 questions</li>
  <li>Participants should not use mobile phones or any other material for reference.</li>
  <li>The participants should not use any STL or predefined functions.</li>
  <li>Violation of any of the rules will lead to immediate disqualification of the participants.</li>
  <li>Organiser’s decision is final.</li></ul>
  <br><br>
  <p>DATE : JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-ANNEX(3RD FLOOR)</P>
  <p style="color:#FE532E">CONTACT:</p><br><br>
  Sardius Lifra    9493250313<br><br>
  Manimozhi    9003507597<br><br>
  Shree Dhanvi    7845671813<br><br>

        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal10">
    <div class="modal-container " >
      <div class="modal-header">C^3</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
            <p>A programmer is also a debugger, a logical thinker but above all he is the master of his code. If your code obeys you exactly the way you want, then come let's test your coding skillls at C cube. Solve problems, analyse algorithms and organise data structures to get rewarded.</p>
                              <p style="color:#FE532E">INTERNSHIP BY </p>
      <center> <div> <a href="http://admatic.co/" target="_blank"><img class="log" src="../public/p2.png" ></a></div> </center>
  <br><br><p style="color:#FE532E">FORMAT</p>
  <br><br>Prelims :
  <p>A written round consisting of 30 questions based on Data Structures , Algorithms,DBMS and Programming logic with a duration of 45 minutes</p>
  <br><br>DURATION: 45 minutes
  <br><br>Finals :
  <p>The final round is an online coding round testing their programming and debugging skills in various new programming languages</p>
  <br><br>DURATION: 60 minutes

  <br><br><p style="color:#FE532E">RULES</p>
  <ul>
  <li>A team can have maximum of two members.</li>
  <li>The team members need not necessarily be from same institution/college.</li>
  <li>A participant cannot be a member of more than one team.</li>
  <li>The participants are not allowed to bring any additional material.</li> <li>Teams involved in any kind of malpractice will be disqualified immediately.</li>
  <li>Decisions made by organizers will be final.</li>
  </ul>
  <p>DATE : JAN-25</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-ANNEX(3RD FLOOR)</P>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>Amrutha    8122877430
  <br><br>Keerthana    9094946988
  <br><br>Mithra    9841858166
  <br><br>Madhu    9789806115

        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal11">
    <div class="modal-container " >
      <div class="modal-header">PAPER PRESENTATION</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
      <br><p style="color:#FE532E">DESCRIPTION</p><br>
      <p>Creativity and ideas lead to innovation. Paper presentation brought to you by
  Itrix&#39;19 gives you a platform to present your unique, exclusive and innovative
  ideas on our given topics.Showcase your talent and research skills along with
  your speaking skills. All you have to do is script your ideas as an paper and send
  it to us. Last date for the submission of paper is Jan-14.</p>
              
            <br><p style="color:#FE532E">FORMAT</p><br>
  <p style="color:#FE532E">Round 1:</p>
        <ul>
            <li>Participants would submit the papers to the specified mail id.</li>
            <li>Selected teams after scrutiny would be intimated through their respective mail id.</li>
        </ul>
        <center>
        <div class="rules">
  <p style="color:#FE532E">Rules:</p>
        <ol>
            <li>The abstract should not exceed 300 words.</li>
            <li>Details of the team members: Name, Dept, College Name, Contact number must be specified in
  the mail.</li>
        </ol>
        </div>
        </center>
        <p style="color:#FE532E">Round 2:</p>
  <ul>
            <li>Selected teams will be allowed to present their papers.</li>
          <li>Participants must bring two hard copies and a soft copy of the paper on the day of the event.</li>
          <li>Winners will be selected by the panel members.</li>
  </ul>
  <center>
        <div class="rules">
  <p style="color:#FE532E">Rules:</p>
        <ol>
            <li>The paper should not exceed 8 pages.</li>
            <li>Presentation time must not exceed 15 minutes.</li>
            <li>Working models would fetch you more points.</li>
        </ol>
      </div>
        </center>
  <br><br><p style="color:#FE532E">GENERAL RULES:</p>
  <ul>
  <li>Submit your abstract to<strong> eventsitrix@gmail.com</strong></li>
  <li>Maximum 2 members per team.</li>
  <li>The topic must be chosen from the topics listed.</li>
  <li>The abstract must be submitted within (the specified deadline). Abstract sent after the deadline
  will not be considered at any cause.</li> 
  <li>Spot entries are not allowed.</li>
  <li>The paper must be in the IEEE format.</li>
  <li>Decision made by the judges will be final.</li>
  </ul>
  <br><br><p style="color:#FE532E">TOPICS </p>
  <ol>
      <li> GDPR</li>
  <li> How does Viruses (Malware, Trojans, Spywares) work?</li>
  <li> Neural Networks and its Applications (or) Fuzzy and Neural Networks</li>
  <li> 5G Wireless Technology</li>
  <li> Cyber crime and Security</li>
  <li> Quantum computing</li>
  <li>NoSQL Databases</li>
  <li>Big Data and Business Intelligence</li>
  <li> Augmented Reality vs Virtual Reality</li>
  <li> AI in medicine</li>
  <li> Fog Computing</li>
  <li>Grid Computing</li>
  <li>Real Time databases</li>
  </ol>
  <p>DATE : JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LIBRARY</P>
  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br><br>Kaliappan    7092227011
  <br><br>Saravana Vignesh    8939738241

        </div>
      </div>
      </div>
  </div>
  <div class="modal" id="modal12">
    <div class="modal-container " >
      <div class="modal-header">GET HIRED</div>
      <a href="#" class="close">x</a>
      <div class="scrollbar"  id="body-scroll">
          <div class="modal-body">
            <p>Are you one of those people who code not just for output but for results. Such smart coders are called developers and this event is for such developers. Come, participate and bag placement offers from various companies like <span style="color:#FE532E"><a href="https://stucred.com" target="_blank">Stucred</a>, <a href="https://www.meritgroup.co.uk/" target="_blank">Merit</a> and <a href="https://www.niagaranetworks.com/" target="_blank">Niagara Networks</a>.</span></p>
  <p style="color:#FE532E">PLACEMENT IN </p>
      <center> <div> <a href="https://www.meritgroup.co.uk/" target="_blank"><img style="background-color:black; height:70px" class="log" src="../public/p7.png" ></a>&nbsp; &nbsp;   <a href="https://stucred.com" target="_blank"><img style="background-color:black; height:70px" class="log" src="../public/p8.png" ></a>&nbsp;&nbsp;<a href="https://www.niagaranetworks.com/" target="_blank"><img style=" height:70px" class="log" src="../public/p6.png" ></a></div> </center>
  <br><br><p style="color:#FE532E">Day 1 Hiring</p>
  <br>
  <p>ANDROID AND IOS APPLICATION DEVELOPMENT</p>
  <br>
  <p>Desc.</p>
  <br>

  <p>The world has become smarter with smartphones in every hand. Android and ios have become smart just because developers have made them smart. Are you such a smart Android or iOS developer? We are in need of you. Come participate and show your smartness here and bag placement offers from STUCRED. Opportunities knock your door only once and this is one such golden opportunity exclusively for Android and iOS developers.
  </p>
  <br>
  <p style="color:#FE532E">Round 1 :</p>
  <ul>
      <li>Predefined source code is given.</li>
      <li>A set of tasks are given to the participants. For example
        <ul>
            <li>Adding Features</li>
            <li>Bug fixing</li>
        </ul>
      </li>
      
  </ul>
  <br>
  <p style="color:#FE532E">Round 2 :</p>
  <ul>
      <li>The participants should develop an android or iOS application for the given problem from scratch.
  </li>
  </ul>
  <p style="color:#FE532E">Rules</p>
  <ul>
      <li>Lone wolf event.</li>
      <li>Bring a laptop with Android Studio installed.</li>
      <li>Participants involved in any kind of malpractice will be disqualified immediately.</li>
      <li>Points will be based on the completion of tasks and features of the application</li>
      <li>If a tie occurs, the efficiency and running time will be taken into account.</li>
      <li>Organiser’s decision is final</li>
  </ul>
  <br><br><p style="color:#FE532E">Day 2 Hiring</p>
  <br>
  <p>FULL STACK DEVELOPMENT</p>
  <br>
  <p>Desc</p>
  <br>

  <p>Coding is not just the way you express your output it is the skill which you intellect with your knowledge. Finding an complete solution is the biggest target. Thats why we are here in search of full stack developers who love to develop an complete application. To all the geeks out there, This is the time to prove your intelligence and bag placement offers from STUCRED, MERIT , NIAGARA NETWORKS.
  </p>
  <br>
  <p style="color:#FE532E">Round 1 :</p>
  <br>
  <p>Theme: MCQ</p>
  <p>Concepts: OS, Dev Ops, Networking, Database, Scripting.
  </p>
  <p>Time: 30 mins</p>

  <br>
  <p style="color:#FE532E">Round 2 :</p>
  <br>
  <p>Theme:  Front End Development, API Development</p>
  <p>Concepts: git, backend-API development, front end development.
  </p>
  <p>Time: 2 hrs.</p>
  <br>
  <p style="color:#FE532E">Rules</p>
  <ul>
      <li>Lone wolf event.</li>
      <li>Testing of the API will be automatic.</li>
      <li>Completion of API, front end yields score.</li>
      <li>If a tie occurs, the running time of API will be taken into account.</li>
      <li>Organiser’s decision is final</li>
      
  </ul>
  <p>DATE : JAN-25 & JAN-26</p>
  <BR>
  <P>VENUE : IST DEPARTMENT-LAB(1ST FLOOR)</P>

  <br><br><p style="color:#FE532E">CONTACT:</p>
  <br>Udaya RK    9600843076
  <br><br>Saravana Vignesh:8939738241


        </div>
      </div>
      </div>
  </div>
<!--==============================footer=============================-->
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Make a Call</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
		<i class="fas fa-mobile-alt"></i> &nbsp	Raj kumar +91 9597484564<br>
		<i class="fas fa-mobile-alt"></i> &nbsp	Bala Sekar +91 9965999159
		</div>
	</div>
</div>
<div class="footer loader">
	<div class="icons">  
    <a class="f" href="https://www.facebook.com/itrixceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-facebook"></i></a>
    <a class="f" href="https://instagram.com/itrix_ceg/" target="_blank" style="margin-top:-5px;"><i class="fab  fa-instagram"></i></a>
    <a class="call f" href="#popup1" style="margin-top:-5px;"><i class="fas fa-mobile-alt" data-toggle="tooltip" data-placement="left" title="click me"></i> </a>
    <br>
  </div>		
</div>
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script src="../public/hello.js"></script>
<script src="../public/js/index.js"></script>
</body>
</html> 